In [1]:
import pandas as pd

/home/erick/Desktop/Projects/Sandbox38/lib/python3.8/site-packages/pandas/compat/__init__.py:117: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
readers = pd.read_csv("countries.csv")
#readers.style.format('{:,}')
pd.options.display.float_format = '{:,}'.format
readers.head()

,country,visitors,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,LearnerRatioPerCapita
0,Runion,5,nan,NaN,nan,nan,nan,nan,NaN,NaN,NaN,NaN,0
1,Czech Republic,16,nan,NaN,nan,nan,nan,nan,NaN,NaN,NaN,NaN,0
2,European Union,11,nan,NaN,nan,nan,nan,nan,NaN,NaN,NaN,NaN,0
3,Macedonia,1,nan,NaN,nan,nan,nan,nan,NaN,NaN,NaN,NaN,0
4,Hong Kong SAR China,30,nan,NaN,nan,nan,nan,nan,NaN,NaN,NaN,NaN,0

In [3]:
readers = readers.sort_values(by="Fert. Rate", ascending=False)
readers.head(20)

,country,visitors,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,LearnerRatioPerCapita
8,American Samoa,5,"55,169.0",-0.22 %,-121.0,276.0,200.0,nan,N.A.,N.A.,88 %,0.00 %,11033
9,Isle of Man,1,"85,112.0",0.53 %,449.0,149.0,570.0,nan,N.A.,N.A.,53 %,0.00 %,85112
104,Nigeria,11,"206,984,347.0",2.58 %,"5,175,990.0",226.0,"910,770.0","-60,000.0",5.4,18,52 %,2.64 %,18816758
100,Uganda,3,"45,974,931.0",3.32 %,"1,471,413.0",229.0,"199,810.0","168,694.0",5.0,17,26 %,0.59 %,15324977
109,Tanzania,2,"60,012,400.0",2.98 %,"1,728,755.0",67.0,"885,800.0","-40,076.0",4.9,18,37 %,0.77 %,30006200
85,Benin,2,"12,175,480.0",2.73 %,"322,049.0",108.0,"112,760.0","-2,000.0",4.9,19,48 %,0.16 %,6087740
102,Senegal,1,"16,816,539.0",2.75 %,"447,563.0",87.0,"192,530.0","-20,000.0",4.7,19,49 %,0.21 %,16816539
108,Cameroon,1,"26,655,083.0",2.59 %,"669,483.0",56.0,"472,710.0","-4,800.0",4.6,19,56 %,0.34 %,26655083
79,Mauritania,1,"4,669,775.0",2.74 %,"123,962.0",5.0,"1,030,700.0","5,000.0",4.6,20,57 %,0.06 %,4669775
114,Sudan,1,"44,019,263.0",2.42 %,"1,036,022.0",25.0,"1,765,048.0","-50,000.0",4.4,20,35 %,0.56 %,44019263
110,Ethiopia,3,"115,434,444.0",2.57 %,"2,884,858.0",115.0,"1,000,000.0","30,000.0",4.3,19,21 %,1.47 %,38478148
105,Malawi,1,"19,211,425.0",2.69 %,"501,205.0",203.0,"94,280.0","-16,053.0",4.3,18,18 %,0.25 %,19211425
97,Rwanda,1,"13,005,303.0",2.58 %,"325,268.0",525.0,"24,670.0","-9,000.0",4.1,20,18 %,0.17 %,13005303
93,Madagascar,3,"27,808,395.0",2.68 %,"721,711.0",48.0,"581,795.0","-1,500.0",4.1,20,39 %,0.36 %,9269465
75,Ghana,8,"31,181,428.0",2.15 %,"655,084.0",137.0,"227,540.0","-10,000.0",3.9,22,57 %,0.40 %,3897678
106,Iraq,2,"40,372,771.0",2.32 %,"912,710.0",93.0,"434,320.0","7,834.0",3.7,21,73 %,0.52 %,20186385
99,Pakistan,15,"221,612,785.0",2.00 %,"4,327,022.0",287.0,"770,880.0","-233,379.0",3.6,23,35 %,2.83 %,14774185
91,Kenya,7,"53,968,739.0",2.28 %,"1,197,323.0",94.0,"569,140.0","-10,000.0",3.5,20,28 %,0.69 %,7709819
63,Namibia,1,"2,548,663.0",1.86 %,"46,375.0",3.0,"823,290.0","-4,806.0",3.4,22,55 %,0.03 %,2548663
107,Egypt,4,"102,659,126.0",1.94 %,"1,946,331.0",103.0,"995,450.0","-38,033.0",3.3,25,43 %,1.31 %,25664781

In [4]:
def replace_na(age):
    if 'N.A.' in str(age):
        return float(0)
    else:
        return age
    
readers['Med. Age'] = readers['Med. Age'].apply(replace_na)
readers['Med. Age'] = readers['Med. Age'].fillna(0).astype(float, errors='raise')
readers.nlargest(columns='Med. Age', n=15).reset_index(drop=True)

,country,visitors,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,LearnerRatioPerCapita
0,Japan,24,"126,407,422.0",-0.30 %,"-383,840.0",347.0,"364,555.0","71,560.0",1.4,48.0,92 %,1.62 %,5266975
1,Martinique,3,"375,213.0",-0.08 %,-289.0,354.0,"1,060.0",-960.0,1.9,47.0,92 %,0.00 %,125071
2,Italy,51,"60,446,035.0",-0.15 %,"-88,249.0",206.0,"294,140.0","148,943.0",1.3,47.0,69 %,0.78 %,1185216
3,Germany,185,"83,830,972.0",0.32 %,"266,897.0",240.0,"348,560.0","543,822.0",1.6,46.0,76 %,1.07 %,453140
4,Greece,8,"10,413,936.0",-0.48 %,"-50,401.0",81.0,"128,900.0","-16,000.0",1.3,46.0,85 %,0.13 %,1301742
5,Portugal,7,"10,191,409.0",-0.29 %,"-29,478.0",111.0,"91,590.0","-6,000.0",1.3,46.0,66 %,0.13 %,1455915
6,Lithuania,1,"2,715,340.0",-1.35 %,"-37,338.0",43.0,"62,674.0","-32,780.0",1.7,45.0,71 %,0.03 %,2715340
7,Slovenia,1,"2,078,989.0",0.01 %,284.0,103.0,"20,140.0","2,000.0",1.6,45.0,55 %,0.03 %,2078989
8,Bulgaria,3,"6,939,018.0",-0.74 %,"-51,674.0",64.0,"108,560.0","-4,800.0",1.6,45.0,76 %,0.09 %,2313006
9,Spain,38,"46,757,980.0",0.04 %,"18,002.0",94.0,"498,800.0","40,000.0",1.3,45.0,80 %,0.60 %,1230473
10,Croatia,7,"4,100,719.0",-0.61 %,"-25,037.0",73.0,"55,960.0","-8,001.0",1.4,44.0,58 %,0.05 %,585817
11,South Korea,44,"51,276,977.0",0.09 %,"43,877.0",527.0,"97,230.0","11,731.0",1.1,44.0,82 %,0.66 %,1165385
12,Netherlands,41,"17,141,544.0",0.22 %,"37,742.0",508.0,"33,720.0","16,000.0",1.7,43.0,92 %,0.22 %,418086
13,Romania,18,"19,214,608.0",-0.66 %,"-126,866.0",84.0,"230,170.0","-73,999.0",1.6,43.0,55 %,0.25 %,1067478
14,Hungary,11,"9,655,983.0",-0.25 %,"-24,328.0",107.0,"90,530.0","6,000.0",1.5,43.0,72 %,0.12 %,877816

In [5]:
readers['LearnerRatioPerCapitaInverse'] =  readers["visitors"] / readers["Population (2020)"]
#readers["Population (2020)"] = readers["Population (2020)"]('{:,}')
PopulationNovelty = readers[['country','visitors','LearnerRatioPerCapitaInverse','Population (2020)']].sort_values(by='LearnerRatioPerCapitaInverse', ascending=False)

In [6]:
PopulationNovelty.nlargest(columns='LearnerRatioPerCapitaInverse', n=25)

           country  visitors  LearnerRatioPerCapitaInverse  Population (2020)
8   American Samoa         5          9.06306077688557e-05           55,169.0
9      Isle of Man         1        1.1749224551179623e-05           85,112.0
10      Luxembourg         6         9.558645476211718e-06          627,704.0
11      Martinique         3         7.995458579526829e-06          375,213.0
12           Malta         3        6.7911714770797965e-06          441,750.0
13          Sweden        54          5.34112319666619e-06       10,110,233.0
14       Singapore        27         4.608828261744575e-06        5,858,322.0
15         Ireland        22        4.4468996720815754e-06        4,947,267.0
16          Norway        24         4.421034249383911e-06        5,428,594.0
17   United States      1451         4.379173664114362e-06      331,341,050.0
18        Suriname         2         3.404017762164683e-06          587,541.0
19          Mexico       435         3.367758587420525e-06      129,166,028.0
20          Canada       118          3.12174209505456e-06       37,799,407.0
21       Australia        78        3.0527559674236497e-06       25,550,683.0
22         Iceland         1         2.927160537192502e-06          341,628.0
23  United Kingdom       193        2.8403955820398815e-06       67,948,282.0
24     New Zealand        13        2.6920570442746056e-06        4,829,021.0
25     Switzerland        23        2.6541682269521553e-06        8,665,615.0
26         Denmark        14         2.415550624764915e-06        5,795,780.0
27     Netherlands        41         2.391849882367656e-06       17,141,544.0
28          Israel        20        2.3045412021431772e-06        8,678,517.0
29         Germany       185         2.206821602879661e-06       83,830,972.0
30        Slovakia        10        1.8314652692830857e-06        5,460,109.0
31         Belgium        21        1.8105866033317725e-06       11,598,451.0
32           Qatar         5        1.7305325471639341e-06        2,889,284.0

In [7]:
PopulationNovelty["LearnerRatioPerCapitaInverse"] = PopulationNovelty["LearnerRatioPerCapitaInverse"].apply(lambda x:x*100000000)
PopulationNovelty["LearnerRatioPerCapitaInverse"] = PopulationNovelty["LearnerRatioPerCapitaInverse"].fillna(0).astype(int)
PopulationNovelty.nsmallest(columns='LearnerRatioPerCapitaInverse', n=25)

,country,visitors,LearnerRatioPerCapitaInverse,Population (2020)
0,Runion,5,0,nan
1,Czech Republic,16,0,nan
2,European Union,11,0,nan
3,Macedonia,1,0,nan
4,Hong Kong SAR China,30,0,nan
5,Guernsey,1,0,nan
6,Trinidad & Tobago,1,0,nan
7,Myanmar (Burma),2,0,nan
110,Ethiopia,3,2,"115,434,444.0"
111,Bangladesh,4,2,"164,972,348.0"
112,China,33,2,"1,440,297,825.0"
113,Algeria,1,2,"43,984,569.0"
114,Sudan,1,2,"44,019,263.0"
107,Egypt,4,3,"102,659,126.0"
108,Cameroon,1,3,"26,655,083.0"
109,Tanzania,2,3,"60,012,400.0"
106,Iraq,2,4,"40,372,771.0"
101,Cambodia,1,5,"16,758,448.0"
102,Senegal,1,5,"16,816,539.0"
103,Guatemala,1,5,"17,971,382.0"
104,Nigeria,11,5,"206,984,347.0"
105,Malawi,1,5,"19,211,425.0"
98,Indonesia,19,6,"274,021,604.0"
99,Pakistan,15,6,"221,612,785.0"
100,Uganda,3,6,"45,974,931.0"

In [8]:
PopulationNovelty.describe()

                visitors  LearnerRatioPerCapitaInverse    Population (2020)
count              115.0                         115.0                107.0
mean                35.8            193.30434782608697   64,969,747.4953271
std   146.05305452760007             856.5270161336978 195,746,123.51820904
min                  1.0                           0.0             55,169.0
25%                  2.0                          10.0          5,444,351.5
50%                  6.0                          38.0         16,816,539.0
75%                 19.0                         147.0         46,366,455.5
max              1,451.0                       9,063.0      1,440,297,825.0

In [9]:
PopulationNovelty.nlargest(columns='LearnerRatioPerCapitaInverse', n=25).reset_index(drop=True)

           country  visitors  LearnerRatioPerCapitaInverse  Population (2020)
0   American Samoa         5                          9063           55,169.0
1      Isle of Man         1                          1174           85,112.0
2       Luxembourg         6                           955          627,704.0
3       Martinique         3                           799          375,213.0
4            Malta         3                           679          441,750.0
5           Sweden        54                           534       10,110,233.0
6        Singapore        27                           460        5,858,322.0
7          Ireland        22                           444        4,947,267.0
8           Norway        24                           442        5,428,594.0
9    United States      1451                           437      331,341,050.0
10        Suriname         2                           340          587,541.0
11          Mexico       435                           336      129,166,028.0
12          Canada       118                           312       37,799,407.0
13       Australia        78                           305       25,550,683.0
14         Iceland         1                           292          341,628.0
15  United Kingdom       193                           284       67,948,282.0
16     New Zealand        13                           269        4,829,021.0
17     Switzerland        23                           265        8,665,615.0
18         Denmark        14                           241        5,795,780.0
19     Netherlands        41                           239       17,141,544.0
20          Israel        20                           230        8,678,517.0
21         Germany       185                           220       83,830,972.0
22        Slovakia        10                           183        5,460,109.0
23         Belgium        21                           181       11,598,451.0
24           Qatar         5                           173        2,889,284.0

In [10]:
PopulationNovelty.describe()

                visitors  LearnerRatioPerCapitaInverse    Population (2020)
count              115.0                         115.0                107.0
mean                35.8            193.30434782608697   64,969,747.4953271
std   146.05305452760007             856.5270161336978 195,746,123.51820904
min                  1.0                           0.0             55,169.0
25%                  2.0                          10.0          5,444,351.5
50%                  6.0                          38.0         16,816,539.0
75%                 19.0                         147.0         46,366,455.5
max              1,451.0                       9,063.0      1,440,297,825.0

In [11]:
PopulationNovelty.nlargest(columns='LearnerRatioPerCapitaInverse', n=5).reset_index(drop=True).T

,0,1,2,3,4
country,American Samoa,Isle of Man,Luxembourg,Martinique,Malta
visitors,5,1,6,3,3
LearnerRatioPerCapitaInverse,9063,1174,955,799,679
Population (2020),"55,169.0","85,112.0","627,704.0","375,213.0","441,750.0"